<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>Sentiment Analysis of Movie Reviews</div>
                <div class='content'>
                    <form action="/analyze" class="form" method="post">
                        <div class="form-group">                            
                            <textarea rows = "10" cols = "100" name = "review_text"></textarea><br>
                        </div> 
                        <div class='analyze'>
                            <input type="submit" class="form-submit-button" value="Analyze">
                        </div>    
                    </form>                    
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
